:root {
  --width: 28px;
  --height: 28px;
  --icon-size: 18px;
}
.field-location {
  .location-button {
    width: var(--width);
    height: var(--height);
    cursor: pointer;
    border: 0;
    padding: 0;
    outline: none;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .3);
    background: #fff;
    margin-right: 10px;
    border-radius: 2px;
    &:after {
      width: var(--icon-size);
      height: var(--icon-size);
      content: '';
      margin: 5px;
      display: block;
      background: url(https://maps.gstatic.com/tactile/mylocation/mylocation-sprite-2x.png) calc(-1 * var(--icon-size)) no-repeat;
      background-size: 180px 18px;
    }
    &:hover:after {
      background-position: 0;
    }
    &.active {
      &:after {
        background-position: -144px 0;
      }
    }
  }
  .search {
    height: var(--height);
    line-height: var(--height);
    box-sizing: border-box;
    width: 100%;
    margin: 10px 0;
    padding: 0 5px;
  }
  .fieldset-wrapper {
    > .form-item {
      width: 50%;
      float: left;
    }
  }
  .form-type-textarea {
    display: none;
  }
}
